<div class="navbar_placeholder"></div>
<div class="form-container">
<%= simple_form_for [@nudie] do |f| %>
  <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.input :description %>
  <%= f.input :weight %>
  <%= f.input :price %>
  <%= f.input :photo, required: true, autofocus: true %>
  <%= f.input :photo, required: false, autofocus: true %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit, class: "btn btn-secondary" %>
<% end %>
</div>
