<div class="form-container">
  <h2>Create your Nudie profile</h2>
  <%= simple_form_for [@nudie] do |f| %>
    <%= f.input :weight %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.button :submit, class: "btn-red dark" %>
  <% end %>
</div>
