<div class="wrapper" style="background: url('<%= image_url "background.jpg"%>') no-repeat center center fixed;"></div>

<div class="show-container">
  <div class="profile-container">
    <% if !@user.first_name.present? || !@user.last_name.present? %>
      <h2>Please fill in your personal information</h2>
    <% end %>

    <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
    <div class="profile-content">
      <%= cl_image_tag @user.photo.url(:show_profile), alt: "alttext"%>
      <div class="show-profile-text">
        <h2><%= @user.location%></h2>
        <h2><%= @user.age %></h2>
        <h2><%= @user.gender %></h2>
      </div>
    </div>
  </div>

    <%= link_to "Edit profile", edit_user_registration_path, class:'btn btn-primary'%>

    <h2>Painting appointments</h2>
    <% if @user.appointments.present? %>
      <%= render 'painter_show' %>
    <% else %>
      <p>You have no upcoming painting appointments</p>
    <% end %>

    <h2>Canvas appointments</h2>
    <% if @user.nudie.present? %>
      <% if @user.nudie.appointments.present? %>
        <%= render 'canvas_show' %>
      <% else %>
        <p>You have no upcoming canvas appointments</p>
      <% end %>
    <% else %>
      <%= link_to "Become a nudie", new_nudy_path, class:'btn btn-primary'%>
    <% end %>
</div>
