<div class="about-wrapper" style="background-image: url(<%= image_url 'about1.jpg' %>);">
  <h2>Art on a living art</h2>
</div>

<div class="about-wrapper" style="background-image: url(<%= image_url 'about2.jpg' %>);">
  <h2>
    We are born naked, we are diluting ourselves between borrowed clothes to finish in a mournful ceremony.
  </h2>
</div>

<div class="about-wrapper" style="background-image: url(<%= image_url 'about3.jpg' %>);">
  <h2>
    Man is the only animal that requires fur according to the canons of market policies. We have become anti natural, “anti” to see the cellular reality of our instinct and essence.
  </h2>
</div>

<div class="about-wrapper" style="background-image: url(<%= image_url 'about4.jpg' %>);">
  <h2>
    For a time the nude went from expressions of love, sensuality to synonymy of averno and rot, today we see a naked and we try to locate it in context, our mind at the service of the contexts taught serves as a drawer indicator of the circuits between good or the bad.
  </h2>
</div>

<div class="about-wrapper" style="background-image: url(<%= image_url 'about5.jpg' %>);">
  <h2>
    Paint . me . nude vows to change the perception of nudity and free our bodies from the prision of fabric.
  </h2>
  <%= link_to "Start the movement today", nudies_path, class:"btn-red fixed" %>
</div>


