<div class="form-container">
  <h3 class="text-center">Price per experience: <b><%= @nudie.price %></b></h3>
  <%= simple_form_for([@nudie, @appointment]) do |f| %>
    <%= f.input :location %>
   <%= f.input :appointment_date, as: :string, input_html: {class: "datepicker"} %>
    <%= f.button :submit, "Request booking", class: "btn btn-primary" %>
  <% end %>
</div>
